<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>

    <!-- import end tool xacro -->
    <xacro:include filename="$(find polsh_path_plan)/urdf/model_mount.xacro" />
    <xacro:include filename="$(find polsh_path_plan)/urdf/kamaboko.xacro" />
    <xacro:include filename="$(find polsh_path_plan)/urdf/kamaboko_outor.xacro" />
    <xacro:include filename="$(find polsh_path_plan)/urdf/sanding_machine.xacro" />
    <xacro:include filename="$(find polsh_path_plan)/urdf/ycam3d-10m.xacro" />

   <!-- parameters -->
   <xacro:arg name="joint_limit_params" default=""/>
   <xacro:arg name="kinematics_params" default=""/>
   <xacro:arg name="physical_params" default=""/>
   <xacro:arg name="visual_params" default=""/>
   <!-- legal values:
         - hardware_interface/PositionJointInterface
         - hardware_interface/VelocityJointInterface
         - hardware_interface/EffortJointInterface
   -->
   <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>

   <!-- arm -->
   <xacro:ur_robot
     prefix=""
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"/>


     <xacro:model_mount parent="wrist_3_link" prefix="mount_base" xyz = "0 0 0.00"/>
     <xacro:kamaboko parent = "mount_base_link" prefix = "model" xyz = "0 0 0.07"/>
     <xacro:kamaboko_outor parent = "model_link" prefix = "model_out" xyz = "0 0 0.00"/>
     <xacro:sanding_machine parent = "base_link" prefix = "sand_origin" xyz = "-0.14147 ${0.643} 0.3"/>
     <xacro:ycam3d-10m parent = "base_link" prefix = "ycam3d-10m_origin" xyz = "${0.2775-0.015} ${0.9408+0.235} ${0.481-0.015}"/>
     <!-- smooth collision version -->
     <!-- <xacro:sanding_machine parent = "base_link" prefix = "sand_origin" xyz = "-0.14147 0.6465 0.3"/> -->
</robot>
